<div class="container mt-4">
    <app-patient></app-patient>
    <div class="mt-5 text-center p-5">
        <p>
            Mini-Project made by Olaru Andrei with the purpose of practicing
            working with APIs.
        </p>
        <p>Tehnologies used on this mini-project:</p>
        <p>
            <i class="fa-brands fa-angular fa-2xl"></i
            >&nbsp;<b>Angular</b>&nbsp;&nbsp;
            <span style="font-size: 30px">|</span
            >&nbsp;&nbsp;<b>ASP.NET</b>&nbsp;<i
                class="fa-solid fa-water fa-2xl"
            ></i
            >&nbsp;&nbsp;<span style="font-size: 30px">|</span>&nbsp;&nbsp;<b
                >Microsoft SQL Server(Express)</b
            >&nbsp;<i class="fa-solid fa-database fa-2xl"></i>
        </p>
    </div>
</div>
